{% if class.extra.enum_members %}

{% block table_style scoped %}
<p><span class="doc-section-title">Members:</span></p>
<table>
  <thead>
    <tr><th>Name</th><th>Value</th><th>Description</th></tr>
  </thead>
  <tbody>
    {% for r in class.extra.enum_members.rows %}
    <tr class="doc-section-item">
      <td><code>{{ r.name }}</code></td>
      <td><code>{{ r.value }}</code></td>
      <td>
        <div class="doc-md-description">
          {{ r.doc|convert_markdown(heading_level, html_id, autoref_hook=autoref_hook) }}
        </div>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock table_style %}
{% endif %}
